.container {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #111;
  color: #eee;

  position: static;
  bottom: 0;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
}
