.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #111;
  color: #eee;

  position: static;
  bottom: 0;
  width: 100%;
}
