.container {
  width: 100vw;
  background-color: #eee;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  /* Temporary hack */
  padding-bottom: 20vh;
}

.title {
  font-size: 3rem;
}

.menuContainer {
  width: 60%;
  text-align: center;
}

.menuGroup {
  border-top: 2px solid black;
}

.menuGroupName {
  font-size: 2rem;
  text-decoration: underline;
}

.menuItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.menuItemName {
  font-size: 1.5rem;
  margin: 0;
}

.menuItemDescription,
.menuItemPrice {
  font-size: 1.25rem;
  margin: 0.5rem;
}
